.userProfile {
	padding: 50px 0;
}
.content {
	composes: backgroundColorPrimary from "../../components/css/color.css";
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid #eee;
	box-shadow: 0 0 3px #999;
	color: #ffffffb0;
}
@media (min-width: 767px) {
	.content {
		max-width: 700px;
		margin-right: auto;
		margin-left: auto;
		box-sizing: border-box;
	}
}
.imgBox {
	position: relative;
	margin-bottom: 10px;
}
.imgUser {
	object-fit: cover;
	border-radius: 100%;
	margin-bottom: 10px;
	position: relative;
}
.editIcon {
	composes: colorSecondary from "../../components/css/color.css";
	font-size: 1.2rem;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
}
.infoBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
}
.infoBox p {
	margin: 0;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.infoBox p a {
	text-decoration: none;
	color: #ffffffb0;
}
.icon {
	margin-right: 5px;
}
.logoutIcon {
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: pointer;
	font-size: 1.5rem;
}
.noUser {
	padding: 15px;
	background-color: darkgray;
	color: #333;
	border-radius: 4px;
	text-align: center;
	font-size: 1.5rem;
}

/* spinner */
.spinner {
	font-size: 10px;
	text-indent: -9999em;
	width: 11em;
	height: 11em;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(
		left,
		#ffffff 10%,
		rgba(255, 255, 255, 0) 42%
	);
	background: -webkit-linear-gradient(
		left,
		#ffffff 10%,
		rgba(255, 255, 255, 0) 42%
	);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(
		left,
		#ffffff 10%,
		rgba(255, 255, 255, 0) 42%
	);
	background: linear-gradient(
		to right,
		#ffffff 10%,
		rgba(255, 255, 255, 0) 42%
	);
	position: absolute;
	top: 0;
	-webkit-animation: spin 1.4s infinite linear;
	animation: spin 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.spinner:before {
	width: 50%;
	height: 50%;
	background: transparent;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
}
.spinner:after {
	background: transparent;

	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: "";
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
