.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #333333b0;
	display: flex;
	height: 100vh;
	z-index: 1;
}
.buttonBox {
	display: flex;
	justify-content: space-between;
}
