.boxLikeComment {
	composes: colorPrimary from "../../css/color.css";
	display: flex;
	align-items: center;
	padding: 5px;
}
.countText {
	font-size: 0.54rem;
	color: #333;
	font-weight: 600;
	margin-left: 5px;
}
